.container-fluid{
    padding: 0;
}

/* Body */

body{
    background-color:darkslategray;
}

/* Navigation Bar */

.navbar{
    padding:5% 10%;
}

.nav-item{
    padding: 0 0 0 40px;
}

.nav-link{
    font-family: 'Audiowide', cursive;

}

.navbar-brand{
    font-family: 'Audiowide',cursive;
    font-weight: bold;
}

/* Global Stats */
#global-stats{
    padding: 0 10%;
}

.global-card{
    text-align: center;
    padding: 5% 5%;
}

.global-card-header{
    font-weight: bold;
}

/* Search Input */
.search-input{
    padding:10px 0;
}

/* Table */
.table-data-head{
    background-color: darkturquoise ;
    color: black;
}